@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue');


@font-face {
    font-family: Titulos;
    src: url(./../assets/fonts/Titulos.TTF);
}
@font-face {
    font-family: Subtitulos;
    src: url(./../assets/fonts/Subtitulos.otf);
}
@font-face {
    font-family: Parrafos;
    src: url(./../assets/fonts/Parrafos.otf);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.5s;
    font-family: 'Parrafos', sans-serif;
    color: #021A61;
    background-color: #FCF9F5;
}

#menuToggle{
    font-family: 'Parrafos', sans-serif;
    /* font-size: 0.5rem !important; */
    display: block;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    /* padding: 30px;
    padding-top: -40px;
    padding-left: 80px; */
  }
  #menuToggle   .imglogo{
        width: auto; 
        height: auto;
        max-width: 180px;
        max-height: 100px;
        justify-content: center;
        align-items: center;
      }
  
  #menuToggle a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover{
    color: #fff;
  }
  
  
  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 20px;
    left: 75px;
    /* right: 100px; */
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    /* -webkit-touch-callout: none; */
  }
  
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 20px;
    left: 75px;
    
    background: rgb(255, 255, 255);
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  #menu_2{
    position: fixed;
    width: 500px;
    min-height: 1000px;
    height: 100%;
    margin: -130px 0 0 -50px;
    padding: 50px;
    padding-top: 180px;
    padding-left: 80px;
    background: #001763;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-110%, 0);
    color: #fff;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu_2 li{
    padding: 10px 0;
    font-size: 18px;
  }


  
  .line div, .line a{
      font-family: 'Parrafos';
    /* font-size: 0px !important; */
  }
  
  .line{
    position: absolute;
    bottom: 50px;
  }
  
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  

/********* Header **********/
header{    
    /* position: relative; */
    /* opacity: 1; */
    background-image: url("./../assets/izana/galery/FondoGaleria.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    -webkit-background-size: cover;
    background-size: cover;
    /* text-align: center !important; */
}
header .title {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header .title h1{
    font-family: 'Titulos', 'Montserrat', sans-serif;
    margin-top: 30vh;
    color: #fff;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 800;
}
header .title a {
    background: none;
    border: none;
}
header .title a img {
    height: 4rem;
    width: 4rem;
}

/* Return Button*/
.return {
    /* margin: 3rem; */
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 8rem;
}
.return img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

/********** Galery Layaout **********/
.galery {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}
.galery h2 {
    margin: 6rem 0;
    font-family: 'Subtitulos', 'Monserrat', sans-serif;
    margin-left: 8rem;
    font-weight: 500;
    font-size: 2.5rem;
    border-left: 4px solid #FF8700;
    padding-left: 1rem;
}
.galery-layout {
    margin: 0 6rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 7vw);
    /* grid-gap: 10px; */
}
.galery-layout a {
    padding: 1rem;
}
.return p {
    font-size: 2rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item-2 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}
.item-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.item-4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}
.item-5{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;
}
.item-6 {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 11;
}
.item-7 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 15;
}
.item-8 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 15;
}
.item-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 15;
    grid-row-end: 17;
}
.item-10 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 17;
}
.item-11 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 15;
    grid-row-end: 21;
}
.item-12 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 17;
    grid-row-end: 21;
}
.item-13 {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 17;
    grid-row-end: 21;
}
.item-14 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 21;
    grid-row-end: 24;
}
.item-15 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 21;
    grid-row-end: 28;
}
.item-16 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 24;
    grid-row-end: 26;
}
.item-17 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 24;
    grid-row-end: 28;
}
.item-18 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 26;
    grid-row-end: 31;
}
.item-19 {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 28;
    grid-row-end: 31;
}
.item-20 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 31;
    grid-row-end: 34;
}
.item-21 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 31;
    grid-row-end: 37;
}
.item-22 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 34;
    grid-row-end: 36;
}
.item-23 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 34;
    grid-row-end: 37;
}
.item-24 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 36;
    grid-row-end: 41;
}
.item-25 {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 37;
    grid-row-end: 41;
}

#footer{
    text-align:center;
    color:#fff;
    padding-top: 5%;
    font-size:1.3em;
    background-image: url("./../assets/images/Footer.jpg");
    background-color: #fcf9f5;
    background-size:cover;
    background-position: center;
    width: 100%;
    min-height: 1000px;
}

#logo2{
    width:150px;
    min-height: 150px;
    z-index: 3;
    background:url('./../assets/images/blancokovas.png') no-repeat;
    background-size:contain;
    text-align: center;
    background-position:center;
  }
  
  #footer .formulario{
    text-align: left;
    color: #001763;
    padding-top: 5%;
    padding-left: 5%;
  }
  #footer .right{
    text-align: left;
    color: #fcf9f5;
    right: 0 !important;
    margin-left: 65% ;
    margin-top: 10%;
    border-left: 2px solid #001763;
  }
  #footer .right h3 {
    color: #021A61;
  }
  #footer .correo{
    background: transparent;
    border: none;
    border-bottom: 1px solid #001763;
    width: 60%;
    padding-top: 3%;

    margin-top: 1rem !important;
    padding: 3px !important;
    font-size: 25px !important;
    transition: all 0.5s ease-in-out !important;
  }
  #footer .btn {
    color: #FFAB00;
    transition: 0.5s ease-in-out;
  }
  #footer .btn:hover {
    transform: rotateX(10px);
  }
  #footer .btn h5 {
    font-size: 25px ;
  }
  
  #footer .amarillo{
    color: #ffab00;
  }
  #footer .blanco{
    color: #fff;
  }
  
  #footer .correo::placeholder {
  color: #001763;
  font-size: 25px;
  }
  #footer .direccion{
    width: max-content;
    height: max-content;
    position: absolute;
    left: 19vw;
    padding-top: 5vw;
    font-size: 1.4vw;
  }
  
  #footer .bottom{
    position: absolute;
    left: 17vw;
    color: white;
    margin-top: 17vw;
  }
  
  #footer .bottom .socials{
    font-size: 1.2vw;
  }
  
  #footer .bottom .socials ul li{
    display: inline-block;
    list-style: none;
    height: 3vw;
    margin-right: 4vw;
  }
  
  
  #footer .menuright li {
    list-style:none; 
  }
  
  #footer .menuright li a, footer .menuright li a:hover{
    color: #fcf9f5;
    text-decoration: none;
    text-align: right;
    padding-right: 34%;
  }
  
  #footer .bottom .copy{
    padding-left: 2.4vw;
    font-size: 1.4vw;
  }
  
  #footer .right{
    position: absolute;
    right: -3vw;
  }
  #footer .footerx{
    display: flex;
  }
  #footer .texoo{
    padding: 3%;
    color: rgba(0, 0, 0, 0.5);
  }

  .redes{
    display: inline-flex;
  }
  .redes div{
      margin: 30px 50px 0 0;
      height: 30px;
      width: 30px;
      text-align: center;
      background-size:cover;
      background-position: center;
      color: #001763;
      background-repeat: no-repeat;
  }
  
  .redes .fb{
      background-image: 
        url('../assets/icons/fb.png');
  }
  .redes .ig{
      background-image: 
        url('../assets/icons/ig.png');
  }
  .redes .in{
      background-image: 
        url('../assets/icons/in.png');
  }
  .redes .tw{
      background-image: 
        url('../assets/icons/tw.png');
  }
  .redes .wh{
    background-image: 
      url('../assets/icons/wh.png');
  }
  
  .menuflecha{
    width: auto; 
      height: auto;
      max-width: 30px;
      max-height: 30px;
    margin-right: 10px;
  }

  @media screen and (max-width: 980px){
    #footer .correo{
        width: 95%;
    }
}

@media screen and (max-width: 700px) { 

    header .title h1 {
        font-size: 3.5rem;
    }
    .galery h2 {
        margin-left: 4rem; 
    }
    .galery-layout {
        margin: 0 3rem;
        display: flex;
        flex-direction: column;
    }

}