/* MAIN STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue');

html {
    scroll-behavior: smooth;
}
body{ 
    margin: 0 ;
    padding: 0 ;
}


#Izana {
    background: #fff;
}
#Adhara {
    display: none;
}


/******************** Header & Banner ********************/
header{    
    position: relative;
    background-image: url("./../assets/images/Principal_Desarrollos.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
header .header {
    position: absolute;
    margin-left: 6rem; 
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
header .header h1{
    margin-top: 40vh;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
}
.link-button p {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.link-button {
    display: flex;
    align-items: center;
}
.link-button img,
.link-button a{
    height: 2rem;
    width: 2rem;
}
.link-button a:hover{
    transition: all 0.5s ease;
    transform: translateX(10px);
}
h2 {
    color: #021A61;
    font-weight: 500;
    font-size: 2.5rem;
    border-left: 4px solid #FF8700;
    padding-left: 1rem;
}

/******************** Main Section ********************/
.main {
    font-family: "Helvetica Neue";
    background: linear-gradient(90deg, #FF8700 50%, #fff 50%);
    width: 100%;
    height: 100vh;
    color: #fff;
}
.services-icons{
    display: flex;
    justify-content: center;
    padding: 3rem 5rem;
}
.icon-box{
    margin: 0 1rem;
    text-align: center;
    font-weight: 300;
}
.icon-box img {
    height: 3rem;
}
.icon-box:nth-child(-n+3){
    color: #fff;
}
.icon-box:nth-child(n+4){
    color: #FF8700;
}
.menu-box {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
}
.menu-box .title{
    /* margin-top: 15vh; */
    font-size: 2.5rem;
    font-weight: 300;
    border-left: 4px solid #000;
    padding-left: 1rem;
}
.menu-box button {
    border: none;
    background: none;
    cursor: pointer;
}
.dropdown-content {
    position: absolute;
    margin-left: 20rem;
    opacity: 0;
    transition: all 0.5s ease;
}
.dropdown-content a {
    display: flex;
    margin: 1rem 0;
    text-decoration: none;
    color: #fff;
}
.dropdown-content p {
    margin: 0 0.5rem;
}
.menu-box .link-button:hover button{
    transition: all 0.5s ease;
    transform: translateX(10px);
}
.menu-box .link-button:hover .dropdown-content,
.menu-box .dropdown-btn:hover .dropdown-content {
    opacity: 1;
    height: auto;
    display: block;
    padding-left: 1rem ;
}

/******************** Project Fases ********************/
.fases {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    /* margin-left: 8rem; */
    padding-top: 3rem;
}
.fases .title, 
.fases .fases-info {
    margin-left: 8rem;
}
.fases-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fases .fases-info p {
    font-size: 1.2rem;
    width: 70%;
    margin-right: 4rem;
}
/* .fases .button-box button{
    background: none;
    border: none;
}
.fases .button-box button img{
    height: 2rem;
    width: 2rem;
} */
.fases .videos {
    text-align: center;
}
.fases .videos video {
    margin: 2rem .5rem;
    width: 40%;
}

/******************** Quotes ********************/
.quote {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin-top: 5rem;
    margin-left: 8rem;
    display: flex;
}
.quote .data-box {
    width: 50%;
}
.quote .data-box p {
    font-size: 1.2rem;
}
.quote .data-box .first {
    margin-top: 25vh ;
}
.quote .image-box {
    width: 50%;
    background-image: url('./../assets/images/principal-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}


/******************** Izana Carousel ********************/
.izana-carousel {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.izana-carousel h2 {
    margin: 6rem 0;
    color: #021A61;
    text-align: center;
}
.izana-carousel .galery {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    padding: 1rem;
    margin-top: -4rem;
    margin-left: 83%;
    background-color: rgba(0,0, 0, 0.7);
    border-radius: 5px;
    align-items: flex-end;
    transition: 0.5s ease;
}
.izana-carousel .galery:hover {
    transform: translateY(-10px);
}
.mySlides {
    display: none;
    text-align: center;
    height: 35rem;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease-in-out;
}
.active {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
} 
@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}


/******************** Amenities Carousel ********************/
.amenities {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #FFF 50%, #021A61 50%);
    margin: 15rem 0;
    height: 100vh;
    width: 100%;
}
.amen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.amenities .amenities-info{
    max-width: 50%;
}
.amenities .amenities-info p {
    max-width: 70%;
    font-size: 1.2rem;
    font-weight: 500;
}
.amenities .amenities-buttons {
    margin-left: 5rem;
}
.amenities-buttons button{
    background: none;
    border: none;
}
.amenities-buttons button img{
    height: 2rem;
    width: 2rem;
} 
.amenities-carousel {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}
.amenities-carousel .card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.amenities-carousel .card:hover {
    transform: translateY(20px);
}
.amenities-carousel .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(253, 142, 41,0.5), rgba(253, 170, 41,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.amenities-carousel .card:hover::before {
    opacity: 1;
}
.amenities-carousel .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.amenities-carousel .card .card-info {
    padding: 1rem;
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.amenities-carousel .card:hover .card-info {
    opacity: 1 ;
    transform: translateY(0);
}
.amenities-carousel .card h3 {
    font-size: 2.5rem;
    font-weight: 600;
}
.amenities-carousel .card p{
    font-size: 1rem;
}

/*############################################################################*/
/*################################## ADHARA ##################################*/
/*############################################################################*/

 .adhara-section {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0 4rem;
}

.adhara-slider  {
    height: 360px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}
.adhara-slider .card-container{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    /* justify-content: space-around; */
}
.adhara-section .card {
    width: 280px;
    height: 360px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.adhara-section .card:nth-child(1) {
    animation: moveSlideshow 15s linear infinite;
}
.adhara-section .card:nth-child(2) {
    animation: moveSlideshow 15s linear infinite;
}
.adhara-section .card:nth-child(3) {
    animation: moveSlideshow 15s linear infinite;
}
.adhara-section .card:nth-child(4) {
    animation: moveSlideshow 15s linear infinite;
}
.adhara-section .card:nth-child(5) {
    animation: moveSlideshow 15s linear infinite;
}
.adhara-section .card:nth-child(6) {
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }

.adhara-section .card:hover {
    transform: translateY(20px);
}
.adhara-section .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(253, 142, 41,0.5), rgba(253, 170, 41,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.adhara-section .card:hover::before {
    opacity: 1;
}
.adhara-section .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.adhara-section .card .card-info {
    padding: 1rem;
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.adhara-section .card:hover .card-info {
    opacity: 1 ;
    transform: translateY(0);
}
.adhara-section .card h3 {
    font-size: 2.5rem;
    font-weight: 600;
}
.adhara-section .card p{
    font-size: 1rem;
}
.adhara-section .value .videos {
    display: flex;
    justify-content: center;
}
.adhara-section .value .videos video {
        margin: 2rem 2rem;
        width: 40%;
}

.quadra-section {
    display: none;
}